html {
    direction: rtl;
    background-image: url(../img/background.jpg);
    font-family: 'Cairo', sans-serif;
}
.rainbow-line {
    height: 3px;
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: #e74c3c;
}
.black-line {
    height: 1px;
    width: 100%;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to right, #000 100%, #c377e4 100%);
}

/************************************Header*********************************************/
.lacrous-header {
    height: 50px;
    border-radius: 40px 40px 0 0;
}
.first-header-menu,
.second-header-menu{
    display: none;
}
.header-menu-left ul li a,
.header-menu-right > ul > li > a,
.fa-circle-user {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in;
}
.header-menu-left ul li a:hover,
.header-menu-left ul li a:focus,
.header-menu-right > ul > li > a:hover,
.header-menu-right > ul > li > a:focus,
.fa-circle-user:hover,
.fa-circle-user:focus,
.first-header-menu ul li a:hover,
.first-header-menu ul li a:focus,
.second-header-menu ul li a:hover,
.second-header-menu ul li a:focus,
footer .copyright a:hover,
footer .copyright a:focus {
    color: #f50 !important;
}
.header-menu-middel ul li form {
    border: 1px solid #000;
    border-radius: 20px;
}
.header-menu-middel ul li form input {
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    outline: none;
}
.header-menu-middel ul li form button {
    margin-left: 3px;
    border: none;
    color: #777777;
    background: transparent;
    font-size: 15px;
}
.social-icon {
    position: absolute;
    background: #fff;
    border: 1px solid;
    flex-direction: column;
    left: 30px;
    min-width: 175px;
    padding: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    transition: all .3s ease-in;
}
.social-follower:hover .social-icon {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.left-icon {
    margin: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
    padding: 0 !important;
}
.social-icon li a,
.account-info li a {
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.social-icon li a:hover {
    color: #fff !important;
}
.social-icon li:hover:nth-child(1) {
    background: #4080FF;
}
.social-icon li:hover:nth-child(2) {
    background: #ef4e41;
}
.social-icon li:hover:nth-child(3) {
    background: #40bff5;
}
.social-icon li:hover:nth-child(4) {
    background: #c13584;
}
.account-info ul {
    position: absolute;
    background: #fff;
    border: 1px solid;
    flex-direction: column;
    left: 30px;
    min-width: 175px;
    padding: 0;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    transition: all .3s ease-in;
}
.account-info:hover ul.nav {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.account-info li a:hover {
    color: #f50;
}
/***********************************middle header********************************************/
.middle-header {
    height: 200px;
    background-color: #fff;
}
/***************************************Nav Menu************************************************/
.nav-menu {
    background-color: #fff;
}
.nav-menu ul {
    z-index: 9999;
}
.nav-menu > ul > li > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid;
    padding: 0;
    margin: 5px 0;
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
.nav-menu > ul > li > ul > li > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 218px;
    top: 15px;
    background-color: #fff;
    border: 1px solid;
    padding: 0;
    min-width: 190px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
.nav-menu > ul > li > ul > li > ul > li > ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 188px;
    top: 15px;
    background-color: #fff;
    border: 1px solid;
    padding: 0;
    min-width: 170px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
.nav-menu > ul > li:hover > ul,
.nav-menu > ul > li > ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.nav-menu > ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.nav-menu > ul > li > a {
    display: flex;
    align-items: center;
    padding: 17px 10px;
    color: #000;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}
.nav-menu > ul > li > a > .nav-icon {
    margin-left: 3px;
}
.nav-menu ul li ul li a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
.nav-icon {
    width: 20px;
}
.nav-menu > ul > li > ul > li > ul > li > a {
    font-size: 12px;
}
.sub-parent,
.sub-sub-parent {
    position: relative;
}
.nav-menu > ul > li > a.active {
    background-color: #e31e25;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    padding: 20.5px;
}
.nav-menu > ul > li > a.active:hover {
    background-color: #c41a20;
}
.nav-menu ul li a:hover {
    color: #fff;
    background-color: #e31e25;
}
.nav-menu ul > li.parent > a:after {
    content: '\f107';
    font-family: FontAwesome;
    display: flex;
    float: left;
    padding-top: 2px;
    margin-right: 5px;
    transition: all .3s ease-out;
}
.nav-menu ul > li.sub-parent > a:after,
.nav-menu ul > li.sub-sub-parent > a:after {
    content: '\f104';
    font-family: FontAwesome;
    display: flex;
    float: left;
    padding-top: 2px;
    margin-right: 10px;
    transition: all .3s ease-out;
}
.nav-menu ul > li.parent:hover > a:after,
.nav-menu ul > li.sub-parent:hover > a:after,
.nav-menu ul > li.sub-sub-parent:hover > a:after {
    transform: rotate(-180deg);
}



/*****************************************Content*************************************************/
.content {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 1px;
}
.post-section {
    display: flex;
    padding: 15px;
}
.posts-thumb {
    margin-left: 15px;
}
.post-info {
    display: grid;
}
.post-info h2 a {
    text-decoration: none;
    font-size: 17px;
    color: #000;
    font-family: 'cairo', sans-serif;
    font-weight: bold;
    transition: all .3s ease-out;
}
.post-info h2 a:hover {
    color: #e31e25;
}
.post-info p {
    font-family: 'Cairo', sans-serif;
}
.buttons {
    font-family: 'Cairo', sans-serif;
    transition: all .3s ease-out;
}
.buttons:hover {
    background-color: #c41a20;
}
.buttons a {
    background-color: #e31e25;
    color: #fff;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 20px;
}
.right-content {
    width: 34%;
    border: 1px solid #eee;
}
.content-header {
    background-color: #111;
    color: #fff;
}
.content-header h2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 15px;
}
.content-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/***************************************Footer*****************************************************/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 28px;
    background-color: #fff;
    height: 55px;
    border-radius: 0 0 40px 40px;
    font-size: 20px;
}
footer .copyright,
.social-footer {
    display: inline-flex;
    align-items: center;
}
footer .copyright p {
    font-family: 'Cairo', sans-serif;
    margin: 0 0 0 5px;
}
footer .copyright .copyright-year {
    font-family: 'Dancing Script', sans-serif;
    color: #f50;
    font-style: italic;
    font-weight: bold;
    transition: all .3s ease-in;
}
footer .copyright a:hover ~.copyright-year {
    color: #e31e25;
}
footer .copyright p span {
    font-size: 25px;
}
footer .copyright a,
.second-header-menu ul li a {
    color: #e31e25;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    margin-right: 5px;
    margin-top: -5px;
    transition: all .3s ease-in;
}
footer .social-footer ul li a {
    text-align: left;
    color: #000;
}
footer .social-footer ul li:hover:nth-child(1) a {
    color: #4080FF;
}
footer .social-footer ul li:hover:nth-child(2) a {
    color: #ef4e41;
}
footer .social-footer ul li:hover:nth-child(3) a {
    color: #40bff5;
}
footer .social-footer ul li:hover:nth-child(4) a {
    color: #c13584;
}

@media screen and (max-width: 1179px) {
    .content {
        flex-direction: column;
    }
    .left-content,
    .right-content {
        width: 100% !important;
    }
}
@media screen and (max-width: 849px) {
    .post-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
}
@media screen and (max-width: 839px) {
    footer {
        display: block;
        height: unset;
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    .first-header-menu, .second-header-menu {
        display: block;
    }
    .header-menu-left, .header-menu-right {
        display: none;
    }
    .social-footer ul {
        padding: 0;
    }
}
@media screen and (max-width: 634px) {
    .nav-menu {
        display: none;
    }
}
@media screen and (max-width: 610px) {
    footer {
        font-size: 1em;
    }
}
@media screen and (max-width: 550px) {
    footer {
        font-size: 14px;
    }
    .second-header-menu ul li a,
    footer .copyright a {
        font-size: 21px;
    }
}
@media screen and (max-width: 450px) {
    footer {
        font-size: 9px;
    }
    footer .copyright a {
        font-size: 11px;
    }
}